<div class="flip-container db-item-flat-container">
    <div class="flipper x-axis" ng-class="{flip: vm.isFlipped}">
        <div class="front">
            <div class="db-item-flat flex-container-row flex-auto flex-align-items-center" ng-click="vm.flip()">
                <div class="db-item-flat-caption-image" back-img="{{vm.image}}">
                </div>

                <div class="flex-container-column flex-justify-content-start flex-auto">
                    <h4 class="db-item-flat-caption-text no-gutter text-nowrap"><strong>{{vm.item.name}}</strong>
                    </h4>
                </div>

                <div class="db-item-flat-price-area flex-container-row flex-align-self-stretch flex-align-items-center">
                    <h6 class="db-item-flat-quantity no-gutter text-muted text-nowrap">
                        <span class="glyphicon glyphicon-tint"></span>
                        {{vm.item.quantity}}&nbsp;{{vm.item.quantityUnit}}
                    </h6>

                    <div class="db-item-tile-price-area-separator flex-align-self-stretch"></div>

                    <h5 flash="vm.item.tick.timestamp" class="no-gutter flex-1 text-center text-nowrap">
                        <small><span class="glyphicon"
                                     ng-class="{'text-danger glyphicon-triangle-top' : vm.item.tick.delta > 0,
                                                 'text-success glyphicon-triangle-bottom': vm.item.tick.delta <= 0}">
                                </span></small>
                        {{vm.item.tick.delta}}
                    </h5>

                    <div class="db-item-tile-price-area-separator flex-align-self-stretch"></div>

                    <h5 flash="vm.item.price" class="text-primary no-gutter flex-1 text-nowrap text-right">
                        <strong ng-show="vm.item.price % 1 > 0">{{vm.item.price | currency:"":2}}</strong>
                        <strong ng-hide="vm.item.price % 1 > 0">{{vm.item.price | currency:"":2}}</strong>
                    </h5>
                </div>
            </div>
        </div>

        <div class="back">
            <div class="db-item-flat flex-container-row flex-auto flex-align-items-center" ng-click="vm.flip()">
                <div class="db-item-flat-caption-image" back-img="{{vm.image}}">
                </div>

                <div class="flex-container-column flex-justify-content-start flex-auto">
                    <h4 class="db-item-flat-caption-text no-gutter text-nowrap"><strong>{{vm.item.name}}</strong>
                    </h4>

                    <div ng-show="vm.canAddToBasket" class="input-group input-group-xs" style="width: 100px">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.increment()" stop-event><i
                                class="glyphicon glyphicon-triangle-top"></i></button>
                    </span>
                        <input ng-model="vm.number" type="text" maxlength="2" class="form-control text-center"
                               readonly stop-event>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.decrement()" stop-event><i
                                class="glyphicon glyphicon-triangle-bottom"></i></button>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="vm.addToBasket()" stop-event><i
                                class="glyphicon glyphicon-shopping-cart"></i></button>
                    </span>
                    </div>
                </div>

                <div class="db-item-flat-price-area flex-container-row flex-align-self-stretch flex-align-items-center">
                    <h6 class="db-item-flat-quantity no-gutter text-muted text-nowrap">
                        <span class="glyphicon glyphicon-tint"></span>
                        {{vm.item.quantity}}&nbsp;{{vm.item.quantityUnit}}
                    </h6>

                    <div class="db-item-tile-price-area-separator flex-align-self-stretch"></div>

                    <h5 flash="vm.item.tick.timestamp" class="no-gutter flex-1 text-center text-nowrap">
                        <small><span class="glyphicon"
                                     ng-class="{'text-danger glyphicon-triangle-top' : vm.item.tick.delta > 0,
                                                 'text-success glyphicon-triangle-bottom': vm.item.tick.delta <= 0}">
                                </span></small>
                        {{vm.item.tick.delta}}
                    </h5>

                    <div class="db-item-tile-price-area-separator flex-align-self-stretch"></div>

                    <h5 flash="vm.item.price" class="text-primary no-gutter flex-1 text-nowrap text-right">
                        <strong ng-show="vm.item.price % 1 > 0">{{vm.item.price | currency:"":2}}</strong>
                        <strong ng-hide="vm.item.price % 1 > 0">{{vm.item.price | currency:"":2}}</strong>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>