<div class="row">
    <div class="col-xs-3">
        <h5><strong>Type</strong></h5>
    </div>

    <div class="col-xs-9">
        <h5>{{vm.user.type}}</h5>
    </div>

    <div class="col-xs-3">
        <h5><strong>Registered</strong></h5>
    </div>

    <div class="col-xs-9">
        <h5>{{vm.user.creationDate | date:"medium"}}</h5>
    </div>

    <div class="col-xs-3">
        <h5><strong>Modified</strong></h5>
    </div>

    <div class="col-xs-9">
        <h5>{{vm.user.modificationDate | date:"medium"}}</h5>
    </div>
</div>