<div class="container-fluid">

    <div class="page-header">
        <h4>Profile
            <small>View your registration details</small>
        </h4>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-4">
                    <label>Type</label>
                    <h6>{{vm.profile.type}}</h6>
                </div>
                <div class="col-xs-4">
                    <label>Registered</label>
                    <h6>{{vm.profile.creationDate |  date:"medium"}}</h6>
                </div>
                <div class="col-xs-4">
                    <label>Modified</label>
                    <h6>{{vm.profile.modificationDate |  date:"medium"}}</h6>
                </div>
            </div>
        </div>
        <div class="panel-body" ng-include="'components/profile/profile-form.html'"/>
    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                        ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="action-link info" ng-click="vm.edit()">
                            <span class="fa fa-edit"/> Edit</a>
                    </li>
                    <li>
                        <a class="action-link danger" ng-click="vm.unregister()">
                            <span class="fa fa-remove"/> Unregister</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>