<div class="db-item flex-auto flex-container-column flex-justify-content-space-between">

    <div class="db-item-caption flex-container-column flex-justify-content-space-between flex-auto">
        <div class="db-item-caption-image" back-img="{{items.img}}">
            <div class="db-item-caption-image-overlay"/>
        </div>

        <div class="db-item-caption-text flex-container-column flex-justify-content-center flex-auto">
            <h3 class="text-center text-nowrap"><strong>{{items.item.name}}</strong>
            </h3>
        </div>
    </div>

    <div class="db-item-price-area">
        <div class="flex-container-column flex-justify-content-space-between flex-wrap">
            <div class="flex-container-row">
            </div>
            <div class="flex-container-row flex-align-items-baseline flex-justify-content-space-between flex-wrap">
                <h4 flash="item.tickprice" class="no-gutter">
                    <strong> &nbsp;{{items.number}} </strong>
                    &nbsp;Stk
                </h4>

                <h3 flash="item.tickprice" class="text-primary no-gutter text-nowrap">
                    <small>CHF</small>
                    <strong ng-show="items.tickprice % 1 > 0">{{items.item.price}}</strong>
                    <strong ng-hide="items.tickprice % 1 > 0">{{items.item.price}}.-</strong>
                    <small> &nbsp; per Unit</small>
                </h3>
            </div>
        </div>
    </div>
</div>