<div class="list-group">
    <div class="list-group-item">
        <div class="row">
            <div class="col-xs-11 col-sm-2 col-md-2">
                {{ 'NAME' | translate }}
            </div>
            <div class="col-xs-offset-1 col-xs-6 col-sm-2 col-md-2">
                {{ 'QUANTITY'| translate}}
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                {{ 'PRICE' | translate }} / {{'PIECE' | translate}}
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                {{ 'PRICE' | translate}}
            </div>
        </div>
    </div>
    <div class="list-group-item" ng-repeat="items in vm.order.orderItems">
        <div class="row">
            <div class="col-xs-11 col-sm-2 col-md-2">
                {{items.item.name}}
            </div>
            <div class="col-xs-offset-1 col-xs-6 col-sm-2 col-md-2">
                <strong> &nbsp;{{items.number}} </strong>
                &nbsp;Stk
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                {{items.item.price}}
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                {{items.price}}
            </div>
        </div>
    </div>
</div>
<div class="list-group">
    <div class="list-group-item">
        <div class="row">
            <div class="col-xs-8 col-sm-5 col-md-6">
                <div class="input-group">
                    <div class="input-group-addon">{{'TOTAL' | translate}}</div>
                    <p class="form-control text-right">
                        {{vm.order.totalPrice}}
                    </p>
                    <div class="input-group-addon">CHF</div>
                </div>
            </div>
        </div>
    </div>
</div>