# Node and related ecosystem
# ==========================
npm-debug.log
*/node_modules/
*/typings/
.idea/
**/*bower_components
**/*/bower_components
**/*.d.ts

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/
