# Node and related ecosystem
# ==========================
**/npm-debug.log
**/node_modules
**/typings
**/build
**/bower_components

# General
# =======
*.idea
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
