<div class="container-fluid">
    <div class="page-header">
        <h2>System
            <small>Control the system</small>

            <div class="btn-group pull-right" role="group" aria-label="Blah">
                <button type="button" class="btn btn-success" ng-click="vm.startEngine($event)">Start</button>
                <button type="button" class="btn btn-success" ng-click="vm.stopEngine($event)">Stop</button>
                <button type="button" class="btn btn-info" ng-click="vm.replay($event)">Replay</button>
                <button type="button" class="btn btn-danger" ng-click="vm.reinitialize($event)">Re-Initialize</button>
            </div>
        </h2>
    </div>

    <table class="table">
        <tr>
            <td>Status</td>
            <td><span class="label"
                      ng-class="vm.systemResource.status == 'running' ? 'label-success' : 'label-default'">{{vm.systemResource.status}}</span>
            </td>
        </tr>
        <tr>
            <td>Price Reduction Interval</td>
            <td>{{vm.systemResource.priceReductionInterval}}</td>
        </tr>
        <tr>
            <td>Price Reduction Grace Period</td>
            <td>{{vm.systemResource.priceReductionGracePeriod}}</td>
        </tr>
        <tr>
            <td>Latest Event</td>
            <td>
                <li>{{vm.systemResource.event.name}}</li>
                <li>{{vm.systemResource.event.timestamp}}</li>
            </td>
        </tr>
    </table>
</div>