<div class="input-group input-group-sm">
    <span class="input-group-addon glyphicon glyphicon-search"></span>
    <input ng-model="vm.search" type="text" class="form-control" placeholder="Search" stop-event>
                        <span class="input-group-btn"><button ng-click="vm.search = ''" type="button"
                                                              class="btn btn-default glyphicon glyphicon-remove"
                                                              stop-event></button></span>
</div>