<div class="panel panel-default">

    <div class="panel-heading">
        <div class="header-row">
            <h1>Basket</h1>
        </div>
    </div>

    <div ng-switch on="vm.currentFilter">
        <div ng-switch-when="tile">
            <div ng-include="'components/basket/basket-tile.html'"></div>
        </div>
        <div ng-switch-when="list">
            <div ng-include="'components/basket/basket-list.html'"></div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                        ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
                <ul class="nav navbar-nav navbar-left">
                    <li ui-sref-active="active">
                        <a ng-click="vm.setFilter(vm.FILTER_TILE)">
                            <span class="glyphicon glyphicon-th-large"/> Tile</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ng-click="vm.setFilter(vm.FILTER_LIST)">
                            <span class="glyphicon glyphicon-th-list"/> List</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>