<div class="panel panel-default">

    <div class="panel-heading">
        <div class="header-row">
            <h1>Basket</h1>
        </div>
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>{{ 'NAME' | translate }}</th>
                    <th>{{ 'QUANTITY'| translate}}</th>
                    <th>{{ 'PRICE' | translate }} / {{'PIECE' | translate}}</th>
                    <th>{{ 'PRICE' | translate}}</th>
                    <th></th>
                </tr>
                <tr ng-repeat="items in vm.basketItems">
                    <td>{{items.item.name}}</td>
                    <td>{{items.number}}</td>
                    <td>{{items.item.tick.price}}</td>
                    <td>{{vm.pricePerItem(items.item.tick.price, items.number)}}</td>
                    <td><button type="button" class="btn btn-danger btn-xs" ng-click="vm.deleteItem(items.id)">{{ 'DELETE' | translate}}</button></td>
                </tr>
                <tr class="total">
                    <td></td>
                    <td></td>
                    <td>{{'TOTAL' | translate}}</td>
                    <td>{{vm.basketTotalPrice}}</td>
                    <td><button type="button" class="btn btn-success" ng-click="vm.createOrder()">{{ 'CREATE_ORDER' | translate}}</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>