<form name="vm.form" class="form-horizontal" role="form" novalidate valdr-type="System"
      ng-submit="vm.submit()">
    <div class="form-group form-group-sm" ng-class="{'has-error': vm.form.priceReductionInterval.$invalid}">
        <label for="priceReductionInterval" class="col-sm-4 control-label">Price Reduction Interval</label>

        <div valdr-form-group class="col-sm-8">
            <input type="number" ng-model="vm.data.priceReductionInterval" class="form-control" id="priceReductionInterval"
                   name="priceReductionInterval" placeholder="Reduction Interval" autofocus ng-readonly="vm.readOnly"/>
        </div>
    </div>
    <div class="form-group form-group-sm" ng-class="{'has-error': vm.form.priceReductionGracePeriod.$invalid}">
        <label for="priceReductionGracePeriod" class="col-sm-4 control-label ">Price Reduction Grace Period</label>

        <div valdr-form-group class="col-sm-8">
            <input type="number" ng-model="vm.data.priceReductionGracePeriod" class="form-control" id="priceReductionGracePeriod"
                   name="priceReductionGracePeriod" placeholder="Grace Period" ng-readonly="vm.readOnly"/>
        </div>
    </div>

    <div class="form-group form-group-sm" ng-hide="vm.readOnly">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-sm btn-primary" ng-disabled="vm.form.$invalid"
                    ng-click="vm.submit()"><span
                    class="glyphicon glyphicon-save"/> Save
            </button>
            <button type="button" class="btn btn-sm btn-default" ng-click="vm.cancel()"><span
                    class="glyphicon glyphicon-remove-circle"/> Cancel
            </button>
        </div>
    </div>
</form>