<div class="panel panel-default">
    <div class="panel-heading">
        <strong> {{ "LIST_DRINKS" | translate}}</strong>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <p>Search</p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <input type="search" class="form-control" ng-model="vm.query"
                               placeholder="Search for...">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <a class="btn btn-primary nodecoration" ng-click="vm.createNewDrink()"
                           ng-show="vm.canCreateNewDrink()">
                            Add New Drink
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-group">
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <p>Name</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <p>ID</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-group">
            <a class="list-group-item" ng-repeat="drink in vm.drinkResources | filter: vm.query"
               ui-sref-active="selected" ng-click="vm.viewDrink(drink)"
               ng-class="{'active': vm.activeItem == drink.id}">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <p>{{drink.name}}</p>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <p>{{drink.id}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>