<div class="list-group">
    <div class="list-group-item">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1">

            </div>
            <div class="col-xs-11 col-sm-2 col-md-2">
                {{ 'NAME' | translate }}
            </div>
            <div class="col-xs-offset-1 col-xs-6 col-sm-2 col-md-2">
                {{ 'QUANTITY'| translate}}
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                {{ 'PRICE' | translate }} / {{'PIECE' | translate}}
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                {{ 'PRICE' | translate}}
            </div>
        </div>
    </div>
    <div class="list-group-item" ng-repeat="items in vm.basketItems">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1">
                <button type="button" class="close" aria-label="Close" ng-click="vm.deleteItem(items.id)"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="col-xs-11 col-sm-2 col-md-2">
                {{items.dashItem.name}}
            </div>
            <div class="col-xs-offset-1 col-xs-6 col-sm-2 col-md-2">
                <button type="button" class="btn btn-default" aria-label="Left Align"
                        ng-click="vm.basketItemAdd(items.id)">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" aria-label="Left Align"
                        ng-click="vm.basketItemMinus(items.id)">
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                </button>
                <strong> &nbsp;{{items.basket.number}} </strong>
                &nbsp;Stk
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                {{items.dashItem.price}}
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                {{vm.pricePerItem(items.tickprice, items.basket.number)}}
            </div>
        </div>
    </div>
</div>
<div class="list-group">
    <div class="list-group-item">
        <div class="row">
            <div class="col-xs-8 col-sm-5 col-md-6">
                <div class="input-group">
                    <div class="input-group-addon">{{'TOTAL' | translate}}</div>
                    <p class="form-control text-right">
                        {{vm.basketTotalPrice.price}}
                    </p>

                    <div class="input-group-addon">CHF</div>
                </div>
            </div>
        </div>
    </div>
</div>
