<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 page-header">
            <h2>Dashboard
                <small>Browse through the available drinks</small>
            </h2>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" ng-repeat="item in vm.dashboard">
            <div back-img="{{item.imageUrl}}" ng-click="vm.showDetails(item)"
                 class="panel panel-default shadowed db-item">

                <div class="db-text-area">
                    <h3 class="no-gutter db-item-caption"><strong>{{item.name}}</strong></h3>
                    <h5 class="no-gutter db-item-description"><em>{{item.description}}</em></h5>
                </div>
                <div class="db-price-area">
                    <div class="flex-container-column flex-justify-content-space-between flex-wrap">
                        <div class="flex-container-row">
                            <h6 flash="item.allTimeHigh" class="no-gutter text-nowrap">
                                <span class="fa fa-angle-double-up"></span>{{item.allTimeHigh}}&nbsp;&nbsp;
                            </h6>
                            <h6 flash="item.allTimeLow" class="no-gutter text-nowrap">
                                <span class="fa fa-angle-double-down"></span>{{item.allTimeLow}}&nbsp;&nbsp;
                            </h6>
                            <h6 flash="item.highestPrice" class="no-gutter text-nowrap">
                                <span class="fa fa-angle-up"></span>{{item.highestPrice}}&nbsp;&nbsp;
                            </h6>
                            <h6 flash="item.lowestPrice" class="no-gutter text-nowrap">
                                <span class="fa fa-angle-down"></span>{{item.lowestPrice}}&nbsp;&nbsp;
                            </h6>
                        </div>
                        <div class="flex-container-row flex-align-items-baseline flex-justify-content-space-between flex-wrap">
                            <h3 flash="item.tick.timestamp" class="no-gutter">
                                <span class="fa"
                                      ng-class="item.tick.delta > 0 ? 'text-danger fa-arrow-circle-up' : 'text-success fa-arrow-circle-down'"></span>&nbsp;{{item.tick.delta}}
                            </h3>

                            <h2 flash="item.price" class="text-primary no-gutter text-nowrap">
                                <small>CHF</small>
                                <strong ng-show="item.price % 1 > 0">{{item.price}}</strong>
                                <strong ng-hide="item.price % 1 > 0">{{item.price}}.-</strong>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>