<div class="container-fluid">

    <div class="page-header">
        <h2>Dashboard
            <small>Browse through the available drinks</small>
        </h2>
    </div>

    <div ng-switch on="vm.currentFilter">
        <div ng-switch-when="all">
            <div ng-include="'components/dashboard/all.html'"></div>
        </div>
        <div ng-switch-when="by-category">
            <div ng-include="'components/dashboard/by-category.html'"></div>
        </div>
    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                        ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
                <ul class="nav navbar-nav navbar-left">
                    <li ui-sref-active="active">
                        <a ng-href="#" ui-sref="root.dashboard.all">
                            <span class="fa fa-globe"/> All</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ng-href="#" ui-sref="root.dashboard.categories">
                            <span class="fa fa-list"/> Categories</a>
                    </li>
                </ul>

                <div class="col-md-3 pull-right">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input ng-model="vm.query" type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>