<div class="container-fluid">

    <div class="page-header">
        <h1>Dashboard
            <small>Browse through the available drinks</small>
        </h1>
    </div>

    <div ng-switch on="vm.currentFilter">
        <div ng-switch-when="all">
            <div ng-include="'components/dashboard/all.html'"></div>
        </div>
        <div ng-switch-when="by-category">
            <div ng-include="'components/dashboard/by-category.html'"></div>
        </div>
    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                        ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
                <ul class="nav navbar-nav navbar-left">
                    <li ui-sref-active="active">
                        <a ng-href="#" ui-sref="root.dashboard.all">
                            <span class="fa fa-globe"/> All</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ng-href="#" ui-sref="root.dashboard.categories">
                            <span class="fa fa-list"/> Categories</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>