<div class="panel panel-default">

    <div class="panel-heading">
        <div class="header-row">
            <h1>Dashboard</h1>
        </div>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-hover">
            <th>
                Name
            </th>
            <th>
                ID
            </th>
            <th>
                Base Price
            </th>
            <th>
                Current Price
            </th>
            <tr ng-repeat="item in vm.dashboard | filter: vm.query">
                <td>{{item.name}}</td>
                <td>{{item.id}}</td>
                <td>{{item.basePrice}}</td>
                <td>{{item.currentPrice}}</td>
            </tr>
        </table>
    </div>
</div>