<h2>home</h2>
<br />
<time />
<br /><br />
Filtern: <input type="text" ng-model="home.query" />
<br />
<br />
<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Vorname</th>
        <th>EMail</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="person in home.persons | filter: home.query" ng-click="home.showDetail(person)">
        <td>{{person.name}}</td>
        <td>{{person.prename}}</td>
        <td>{{person.email}}</td>
        <td><a href="#/PersonDetail/{{person.id}}">Detail</a></td>
    </tr>
    </tbody>
</table>