<div class="container-fluid">
    <div page-header title="page.system.header.title" subtitle="page.system.header.subtitle"/>

    <table class="table">
        <tr>
            <td>Status</td>
            <td><span class="label"
                      ng-class="vm.systemResource.status == 'running' ? 'label-success' : 'label-default'">{{vm.systemResource.status}}</span>
            </td>
        </tr>
        <tr>
            <td>Price Reduction Interval</td>
            <td>{{vm.systemResource.priceReductionInterval}}</td>
        </tr>
        <tr>
            <td>Price Reduction Grace Period</td>
            <td>{{vm.systemResource.priceReductionGracePeriod}}</td>
        </tr>
        <tr>
            <td>Latest Event</td>
            <td>
                <li>{{vm.systemResource.event.name}}</li>
                <li>{{vm.systemResource.event.timestamp}}</li>
            </td>
        </tr>
    </table>


    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                        ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a ng-href="#" class="action-link success" ng-click="vm.startEngine($event)"><span class="glyphicon glyphicon-play"/>
                            Start</a>
                    </li>
                    <li>
                        <a ng-href="#" class="action-link success" ng-click="vm.stopEngine($event)"><span class="glyphicon glyphicon-stop"/> Stop</a>
                    </li>
                    <li>
                        <a ng-href="#" class="action-link info" ng-click="vm.replay($event)"><span class="glyphicon glyphicon-refresh"/>
                            Replay</a>
                    </li>
                    <li>
                        <a ng-href="#" class="action-link danger" ng-click="vm.reinitialize($event)"><span class="glyphicon glyphicon-download-alt"/>
                            Reinitialize</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>