<nav class="navbar navbar-inverse navbar-fixed-top" data-ng-class="!navCollapsed && 'in'" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-ng-init="navCollapsed = true"
                    data-ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a data-ui-sref="root.dashboard" class="navbar-brand no-gutter">
                <img alt="Trinkb&ouml;rse" src="/assets/images/logo/logo.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" data-ng-class="!navCollapsed && 'in'" data-ng-click="navCollapsed = true">
            <ul class="nav navbar-nav">
                <li data-ui-sref-active="active" data-ng-show="vm.menu.dashboardLink">
                    <a data-ng-href="#" data-ui-sref="root.dashboard">
                        <span class="glyphicon glyphicon-equalizer"></span>&nbsp;{{vm.menu.dashboardLink.name
                        |translate}}
                    </a>
                </li>
                <li data-ui-sref-active="active" data-ng-show="vm.menu.drinksLink">
                    <a data-ng-href="#" data-ui-sref="root.home.drinks.overview.list">
                        <span class="glyphicon glyphicon-glass"></span>&nbsp;{{vm.menu.drinksLink.name | translate}}
                    </a>
                </li>
                <li data-ui-sref-active="active" data-ng-show="vm.menu.usersLink">
                    <a data-ng-href="#" data-ui-sref="root.home.users">
                        <span class="glyphicon glyphicon-duplicate"></span>&nbsp;{{vm.menu.usersLink.name | translate}}
                    </a>
                </li>
                <li data-ui-sref-active="active" data-ng-show="vm.menu.systemLink">
                    <a data-ng-href="#" data-ui-sref="root.home.system">
                        <span class="glyphicon glyphicon-cog"></span>&nbsp;{{vm.menu.systemLink.name | translate}}
                    </a>
                </li>
                <li data-ui-sref-active="active" data-ng-show="vm.menu.ordersLink">
                    <a data-ng-href="#" data-ui-sref="root.home.orders.list">
                        <span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;{{vm.menu.ordersLink.name |
                        translate}}
                    </a>
                </li>
                <li data-ui-sref-active="active" data-ng-show="vm.menu.basketLink">
                    <a data-ng-href="#" data-ui-sref="root.home.basket">
                        <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;{{vm.menu.basketLink.name |
                        translate}}&nbsp;<span class="badge">{{vm.menu.numberOfBasketItems}}</span>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="nav-divider"></li>
                <li data-ui-sref-active="active" data-ng-show="vm.menu.registerLink">
                    <a data-ng-href="#" data-ui-sref="root.register">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;{{vm.menu.registerLink.name | translate}}
                    </a>
                </li>
                <li data-ui-sref-active="active" data-ng-show="vm.menu.profileLink">
                    <a data-ng-href="#" data-ui-sref="root.home.profile">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;{{vm.menu.loginname | translate}}
                    </a>
                </li>
                <li class="nav-divider"></li>
                <li>
                    <a data-ng-href="#" data-ng-hide="vm.menu.isLoggedIn" data-ng-click="vm.login()">
                        <span class="glyphicon glyphicon-log-in"></span>&nbsp;{{"action.login" | translate}}
                    </a>
                    <a data-ng-href="#" data-ng-show="vm.menu.isLoggedIn" data-ng-click="vm.logout()">
                        <span class="glyphicon glyphicon-log-out"></span>&nbsp;{{"action.logout" | translate}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>