<div class="modal-header">
    <h3 class="modal-title">
        <span ng-class="modalOptions.glyph ? modalOptions.glyph : ''"/> {{modalOptions.headerText | translate}}
    </h3>
</div>
<div class="modal-body">
    <p class="h4">{{modalOptions.bodyText | translate}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
            ng-click="modalOptions.close()">{{modalOptions.closeButtonText | translate}}
    </button>
    <button type="button" class="btn btn-primary"
            ng-click="modalOptions.ok();">{{modalOptions.actionButtonText | translate}}
    </button>
</div>