<div class="flip-container db-item-tile-container" data-ng-click="vm.flip($event)" data-ng-keypress="vm.flip($event)">
    <div class="flipper y-axis" data-ng-class="{flip: vm.isFlipped}">
        <div class="front">
            <div class="db-item-tile flex-auto flex-container-column flex-justify-content-space-between">
                <div class="db-item-tile-caption-image" back-img="{{vm.image}}">
                </div>

                <h3 class="db-item-tile-caption-text flex-auto text-center text-nowrap no-gutter">
                    <strong>{{vm.item.name}}</strong>
                </h3>

                <h6 class="db-item-tile-description flex-auto text-center">
                    <em>{{vm.item.description}}</em>
                </h6>

                <div class="db-item-tile-price-area">
                    <div class="flex-container-row flex-align-items-baseline">
                        <h6 class="db-item-tile-quantity no-gutter flex-align-self-center text-muted text-nowrap">
                            <span class="glyphicon glyphicon-tint"></span>{{vm.item.quantity}}&nbsp;{{vm.item.quantityUnit}}
                        </h6>

                        <div class="db-item-tile-price-area-separator flex-align-self-stretch">
                        </div>

                        <h5 flash="vm.item.tick.timestamp"
                            class="no-gutter text-nowrap flex-1 text-center"
                            data-ng-class="{'text-danger' : vm.item.tick.delta > 0,
                                       'text-success': vm.item.tick.delta <= 0}">
                            <small>
                                <span class="glyphicon"
                                      data-ng-class="{'text-danger glyphicon-triangle-top' : vm.item.tick.delta > 0,
                                                 'text-success glyphicon-triangle-bottom': vm.item.tick.delta <= 0}">
                                </span>
                            </small>
                            {{vm.item.tick.delta | currency:"":2}}
                        </h5>

                        <div class="db-item-tile-price-area-separator flex-align-self-stretch">
                        </div>

                        <h4 flash="vm.item.price" class="text-primary no-gutter text-nowrap flex-1 text-right">
                            <strong data-ng-show="vm.item.price % 1 > 0">{{vm.item.price | currency:"":2}}</strong>
                            <strong data-ng-hide="vm.item.price % 1 > 0">{{vm.item.price | currency:"":2}}</strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="db-item-tile flex-auto flex-container-column flex-justify-content-space-between">
                <div class="db-item-tile-caption-image" back-img="{{vm.image}}">
                </div>

                <h3 class="db-item-tile-caption-text flex-auto text-center text-nowrap no-gutter">
                    <strong>{{vm.item.name}}</strong>
                </h3>

                <div data-ng-show="vm.isFlipped && vm.canAddToBasket"
                     class="input-group input-group-sm db-item-tile-basket-ctrl">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" data-ng-click="vm.increment()" stop-event>
                            <span class="glyphicon glyphicon-triangle-top"></span>
                        </button>
                    </span>
                    <input data-ng-model="vm.number" type="text" maxlength="2" class="form-control text-center"
                           readonly stop-event>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" data-ng-click="vm.decrement()" stop-event>
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </button>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-ng-click="vm.addToBasket($event)" stop-event>
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </button>
                    </span>
                </div>

                <div class="db-item-tile-price-area">
                    <div class="flex-container-column flex-justify-content-space-between">
                        <div class="flex-container-row text-muted flex-justify-content-center flex-align-items-center">
                            <h6 flash="vm.item.highestPrice"
                                class="flex-auto no-gutter text-nowrap text-danger text-center">
                                <span class="glyphicon glyphicon-triangle-top"></span>
                                &nbsp;{{vm.item.highestPrice | currency:"":2}}
                            </h6>

                            <div class="db-item-tile-price-area-separator flex-align-self-stretch"></div>
                            <h6 flash="vm.item.lowestPrice"
                                class="flex-auto no-gutter text-nowrap text-success text-center">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                                &nbsp;{{vm.item.lowestPrice | currency:"":2}}
                            </h6>
                        </div>

                        <hr class="separator">

                        <div class="flex-container-row flex-justify-content-space-between flex-align-items-baseline">
                            <h6 class="db-item-tile-quantity no-gutter flex-align-self-center text-muted text-nowrap">
                                <span class="glyphicon glyphicon-tint"></span>
                                {{vm.item.quantity}}&nbsp;{{vm.item.quantityUnit}}
                            </h6>

                            <div class="db-item-tile-price-area-separator flex-align-self-stretch"></div>

                            <h5 flash="vm.item.tick.timestamp"
                                class="no-gutter text-nowrap flex-1 text-center"
                                data-ng-class="{'text-danger' : vm.item.tick.delta > 0,
                                       'text-success': vm.item.tick.delta <= 0}">
                                <small>
                                <span class="glyphicon"
                                      data-ng-class="{'text-danger glyphicon-triangle-top' : vm.item.tick.delta > 0,
                                                 'text-success glyphicon-triangle-bottom': vm.item.tick.delta <= 0}">
                                </span>
                                </small>
                                {{vm.item.tick.delta | currency:"":2}}
                            </h5>

                            <div class="db-item-tile-price-area-separator flex-align-self-stretch"></div>

                            <h4 flash="vm.item.price" class="text-primary no-gutter text-nowrap flex-1 text-right">
                                <strong data-ng-show="vm.item.price % 1 > 0">{{vm.item.price | currency:"":2}}</strong>
                                <strong data-ng-hide="vm.item.price % 1 > 0">{{vm.item.price | currency:"":2}}</strong>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>