<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>

    <div class="col-sm-10">
        <input type="text" ng-model="vm.drink.name" class="form-control" id="name" placeholder="What is the name of the drink?"/>
    </div>
</div>
<div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>

    <div class="col-sm-10">
        <input type="text" ng-model="vm.drink.description" class="form-control" id="description"
               placeholder="How would you describe the drink?"/>
    </div>
</div>
<div class="form-group">
    <label for="alcoholic" class="col-sm-2 control-label">Alcoholic</label>

    <div class="col-sm-10">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="vm.drink.alcoholic" id="alcoholic" placeholder="Does it contain alcohol"/>
                &nbsp;
            </label>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="quantity" class="col-sm-2 control-label">Quantity</label>

    <div class="col-sm-5">
            <input type="text" ng-model="vm.drink.quantity" class="form-control col-sm-5" id="quantity"
                   placeholder="Quantity"/>
    </div>
    <div class="col-sm-5">
            <select class="form-control col-sm-5" ng-model="vm.drink.quantityUnit" id="quantityUnit">
                <option>mm</option>
                <option>cl</option>
                <option>dl</option>
                <option>l</option>
            </select>
</div>
</div>
<div class="form-group" ng-class="{'has-error': drinkForm.basePrice.$invalid, 'has-success': drinkForm.basePrice.$valid}">
    <label for="basePrice" class="col-sm-2 control-label">Base Price</label>

    <div class="col-sm-10">
        <div class="input-group">
            <span class="input-group-addon glyphicon" ng-class="{'glyphicon-remove': drinkForm.basePrice.$invalid, 'glyphicon-ok': drinkForm.basePrice.$valid}"></span>
            <input name="basePrice" type="number" ng-model="vm.drink.basePrice" class="form-control" id="basePrice"
                   placeholder="How much for the drink?" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"/>
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
              ng-show="!drinkForm.basePrice.$valid">
        </span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="minPrice" class="col-sm-2 control-label">Min Price</label>

    <div class="col-sm-10">
        <input type="number" ng-model="vm.drink.minPrice" class="form-control" id="minPrice"
               placeholder="Min price for the drink?" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
    </div>
</div>
<div class="form-group">
    <label for="maxPrice" class="col-sm-2 control-label">Max Price</label>

    <div class="col-sm-10">
        <input type="number" ng-model="vm.drink.maxPrice" class="form-control" id="maxPrice"
               placeholder="Max Price for the drink?" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
    </div>
</div>
<div class="form-group">
    <label for="priceStep" class="col-sm-2 control-label">Price step</label>

    <div class="col-sm-10">
        <input type="number" ng-model="vm.drink.priceStep" class="form-control" id="priceStep"
               placeholder="Price step for the drink?" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
    </div>
</div>

<div class="form-group">
    <label for="category" class="col-sm-2 control-label">Category</label>

    <div class="col-sm-10">
        <select class="form-control" ng-model="vm.drink.category" id="category">
            <option>beer</option>
            <option>wine</option>
            <option>cocktail</option>
            <option>coffee</option>
            <option>tea</option>
            <option>shot</option>
            <option>soft</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>